.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Todo-App {
  padding-top: 35px;
  display: inline-block;
  text-align: left;
}

input {
  font-size: 20px;
}

ul {
  padding: 0px;
}

li{
  list-style-type: none;
}

.message {
  background-color: #61DAFB;
  color: white;
  border: solid 1px #61DAFB;
  position: absolute;
  text-align: center;
  width: 200px;
  left: 50%;
  margin-left: -100px;
  top: 200px;
}

li span.delete-item {
  visibility: hidden;
}

span.delete-item button {
  background: none;
  border: none;
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
  color: red;
}

li:hover span.delete-item{
  visibility: visible;
}

a {
  padding-left: 2px;
  padding-right: 2px;
}
